.pagination {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}

.prev { 
  margin-right: 20px;
  cursor: pointer;
}

.next {
  margin-left: 20px;
  cursor: pointer;
}