.details-banner {
    position: relative;
  }
  
  .details-banner-img img {
    width: 100%;
    height: 550px;
    object-fit: cover;
  }
  
  .details-banner-title {
    position: absolute;
    color: white;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }